@page
@model RazorPages.Pages.FavoritesModel
@{
}


@if (!Model.Recipes.Any())
{
    <p>Como assim não tens um pastel de nada favorito?</p>
}

<div class="grid grid-cols-4 gap-4">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="bg-white border-2 rounded-sm p-3 transition duration-300 hover:shadow-lg hover:-translate-y-1">

            <h1 class="text-xl font-bold">@recipe.Title</h1>

            <img class="rounded my-4 h-48 w-full object-cover"
                 src="~/images/cover.jpg" />

            <div class="flex justify-between items-center">
                
                <a href="/ViewRecipe/@recipe.Id"
                       class="font-bold bg-yellow-300 px-2 py-1 rounded transition hover:bg-yellow-400">
                    Visualizar
                </a>

                <div>
                   
                        <form method="post" asp-page-handler="Favorite">
                            <input type="hidden" name="recipeId" value="@recipe.Id" />

                            <button type="submit"
                                    class="text-2xl transition hover:scale-125 @(recipe.isFavoritedByUser ? "text-red-500" : "")">
                                @(recipe.isFavoritedByUser ? "❤️" : "🤍")
                            </button>
                        </form>
 
                </div>

            </div>
        </div>
    }
</div>