@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="grid grid-cols-4 gap-4">
	<div class="bg-white border-3 rounded-sm p-3">
		<h1 class="text-xl font-bold">Pastel de Natas de Bacalhau</h1>
		<img class="rounded my-4" src="placeholder.png">

		<div class="flex justify-between">
			<div>
				<a class="font-bold bg-yellow-300 hover:bg-transparent" href="">
					Visualizar
				</a>
			</div>
			<div>
				🤍
			</div>
		</div>
	</div>
</div>
