@page
@model RazorPages.Pages.LoginModel
@{
}

<h1>
	Hello World
</h1>

<form method="post">
	<input asp-for="Username" name="Username"/>
	<input asp-for="Password" name="Password" type="password" />

	<button type="submit">Login</button>

</form>