@page
@model RazorPages.Pages.LoginModel

@{
    ViewData["Title"] = "Registo";
	Layout = "_LayoutForm";
}

<form method="post" action="">

	<h1>Login</h1>

	<div class="flex justify-between gap-2">
		<label>email</label>
		<input name="email" type="text" required>
	</div>

	<div class="flex justify-between gap-2">
		<label>password</label>
		<input name="password" type="password" required>
	</div>

	@if (Model.Error)
	{
		<span class="alert">Senha errada ou usuário não encontrado.</span>
	}

	<button type="submit">entrar</button>

	<div class="links">
		<span>Não tens registo?<a href="/Register">Cadastrar</a></span>
		<span><a href="/Index">Voltar</a></span>
	</div>

</form>