@page
@model RazorPages.Pages.RegisterModel

@{
    ViewData["Title"] = "Registo";
	Layout = "_LayoutForm";
}

<form method="post" action="">

	<h1>Registo</h1>

	<div class="flex justify-between gap-2">
		<label>nome</label>
		<input name="firstName" type="text">
	</div>

	<div class="flex justify-between gap-2">
		<label>apelido</label>
		<input name="lastName" type="text">
	</div>

	<div class="flex justify-between gap-2">
		<label>passe</label>
		<input name="password" type="password">
	</div>

	<div class="flex justify-between gap-2">
		<label>email</label>
		<input name="email" type="email">
	</div>

	<button type="submit">enviar</button>

	@if (Model.Error)
	{
		<span class="alert">Usuário já registrado.</span>
	}

	<div class="links">
	<span>Já tens registo?<a href="/Login">Entrar</a></span>
	<span><a href="/Index">Voltar</a></span>
	</div>

</form>