@page
@model RazorPages.Pages.RegisterModel
@{
}

<h1>
	Register
</h1>

<form method="post">
	<input asp-for="Username" name="Username"/>
	<input asp-for="Password" name="Password" type="password" />
	<input asp-for="Email" name="Email" />
	<button type="submit">Login</button>

</form>