<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@@4"></script>
    <title>@ViewData["Title"] - RazorPages</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
</head>

<body class="font-[Delius]">

	<header class=" mx-auto max-w-5xl my-4">
		<div class="flex justify-between items-center">
			<h1 class="text-4xl font-bold">Apenas Natas</h1>
			<div class="flex gap-2">
				<a class="font-bold bg-yellow-300 hover:bg-transparent" href="">
					Receitas
				</a>
				<a class="font-bold bg-yellow-300 hover:bg-transparent" href="">
					Visualizar
				</a>
				<a class="font-bold bg-yellow-300 hover:bg-transparent" href="/register">
				    Cadastro
				</a>
				<a class="font-bold bg-yellow-300 hover:bg-transparent" href="/login">
					Entrar
				</a>
			</div>
		</div>
	</header>

	<div class="bg-[url(/Images/bg-2.jpeg)]">
		<div class="mx-auto max-w-5xl my-12 py-8">
			<form>
				<input class="rounded-sm border-2 bg-yellow-300 hover:bg-yellow-200">
				<button class="bg-yellow-300 hover:bg-yellow-200 font-bold border-2 rounded"
					type="submit">enviar</button>
			</form>
		</div>
	</div>
    
    <div class="mx-auto max-w-5xl">
    @RenderBody()
    </div>
</body>
</html>
